{% extends 'groups/group_base.html' %}
{% block pregroup %}
    <h1>Group Name: {{ group.name }}</h1>
    <h1>Member Count: {{ group.members.count }}</h1>
    <div class="content">
        {% if user in group.members.all %}
            <a href="{% url 'groups:leave' slug=groups.slug %}"
               class="btn btn-warning">Leave Group</a>
        {% else %}
            <a href="{% url 'groups:join' slug=groups.slug %}"
               class="btn btn-primary">Join Group</a>
        {% endif %}
    </div>
{% endblock pregroup %}
{% block group_content %}
    <div class="col-md-8">
        {% if group.posts.count == 0 %}
            <h2>No posts in this group yet!</h2>
        {% else %}
            {% for post in group.posts.all %}
                {% include "posts/_post.html" %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock group_content %}
