<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{% static 'basic_form_app/css/form_page.css' %}"
		/>
		<title>Form</title>
	</head>

	<body>
		<div class="container">
			<div class="side"></div>
			<div class="register-form">
				<div class="form-header">
					<h1>Please fill the form</h1>
				</div>
				<form method="POST">
					{{form.as_p}} {% csrf_token %}

					<input type="submit" class="btn" value="Submit" />
				</form>
			</div>
			<div class="side"></div>
		</div>
	</body>
</html>
