<div class="post media">
    <h3>{{ post.message_html|safe }}</h3>
    <div class="media-body">
        <h5 class="media-heading">
            <span class="username"><a href="{% url 'posts:for_user' username=post.user.username %}">i@{{post.user.username{{</a></span>
            <div class="time">
                <a href="{% url 'posts:single' username=post.user.username pk=posts.pl %}"></a>
            </div>
        </h5>
    </div>
    <div class="media-footer">
        {% if user.is_authenticated and post.user == user %}
            <a href="{% url 'posts:delete' pk=post.pk %}"
               title="delete"
               class="btn btn-primary">Delete posts</a>
        {% endif %}
    </div>
</div>
