<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Star Social</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Russo+One&display=swap"
              rel="stylesheet"/>
        <link rel="stylesheet" href="{% static 'css/master.css' %}"/>
    </head>
    <body id = "canvas">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand mynav" href="{% url 'home' %}">Star Social</a>
                <ul class="navbar navbar-dark navbar-right`">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'posts:create' %}">Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'groups:all' %}">Groups</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'groups:create' %}">Create Groups</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:logout' %}">log out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'groups:all' %}">Groups</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:signup' %}">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container mycontent">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
    <script type="text/javascript" src="{% static 'simple_clone/js/master.js' %}"></script>
</html>
